:root{
  --primary: #000000;
  --secondary: #141414;
  --accent: #fca311;
  --alt-accent: #17bb90;
  --text: #fefefe;
  --alt-text: #e5e5e5;
}

#header{
  color: aliceblue;
  text-shadow: 3px 5px 15px black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://unsplash.com/photos/0gkw_9fy0eQ/download?force=true&w=1920");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
}

#header > .display-1{
  text-transform: uppercase;
  font-weight: bold;
}

.body{
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  color:var(--text);
  background-color: var(--primary);

}

.btn-primary, .btn-primary:hover, .btn-primary:focus{
  color:var(--primary);
  background-color: var(--accent);
  border-color: var(--accent);
  text-shadow: none;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus{
  color:var(--text);
  background-color: var(--alt-accent);
  border-color: var(--alt-accent);
  text-shadow: none;
}

.theme > button{
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 2;
}

.modal-content{
  color: #000;
}

.card{
  background-color: var(--secondary);
  color: var(--text);
}

.main{
  pad: 20px 0;
}

.full-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  padding-bottom: 50px;
}

#testimonials .card img {
  max-width: 75%;
}

.bg-white {
  background-color: #fff;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .active{
  border-bottom: 3px solid var(--alt-accent);
  margin: auto;
  width: max-content;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-link{
  background-color: var(--accent);
  margin: 5px;
  padding: .5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-link > svg, img {
  vertical-align: bottom;
}

.footer-nav a {
  color: var(--alt-text);
}