.card-img-top{
    object-fit: cover;
    background-color: white;
}

.blog{
    flex-direction: row;
}

.blog > .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 768px){
    .blog{
        flex-direction: column;
    }
}