.blog .card-img-top{
    object-fit: cover;
    background-color: white;
    padding: 0;
    aspect-ratio: 1/1;
    width: auto;
    max-width: 100%;
    margin: 5px;
    border-radius: 15px;
}

.blog.card:hover {
    scale: none;
}

.blog{
    border-radius: 20px;
    max-width: 28rem;
}

.blog > .card-body a {
    color: var(--text);
}

.blog > .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

